<div class="slick-container">
    <div class="pelk-slick">
        <a class="slick__item" href="img/temp/dog.png">
            <img class="" src="img/temp/dog.png" alt="">
        </a>
        <a class="slick__item" href="img/temp/dog.png">
            <img class="" src="img/temp/dog.png" alt="">
        </a>
        <a class="slick__item" href="img/temp/dog.png">
            <img class="" src="img/temp/dog.png" alt="">
        </a>
        <a class="slick__item" href="img/temp/dog.png">
            <img class="" src="img/temp/dog.png" alt="">
        </a>
        <a class="slick__item" href="img/temp/dog.png">
            <img class="" src="img/temp/dog.png" alt="">
        </a>
    </div>
</div>
<span class="content__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi cum facilis inventore, quibusdam quos ut voluptas. A ad aspernatur assumenda culpa cumque dignissimos dolores eos iusto labore magni nam, nesciunt nisi numquam possimus provident quae quasi repellat veritatis voluptas voluptate? Aperiam atque eaque eius ex, harum ipsam veniam? Deserunt doloribus mollitia quidem! Accusantium assumenda illum molestiae obcaecati officia placeat ratione unde? Ad aperiam assumenda eius laboriosam quam quas repellendus vel. Aliquam aliquid aperiam architecto aut cupiditate error eveniet expedita facilis fugit in ipsam itaque laudantium magnam maiores nam necessitatibus non perspiciatis placeat provident quia repellendus repudiandae rerum, sit unde voluptatibus? Iusto laboriosam magni nobis rerum similique. Inventore iste, nam. Amet consequatur excepturi minima perspiciatis recusandae voluptatum. A adipisci alias animi architecto asperiores, aut commodi deleniti dignissimos distinctio, dolor dolore dolores eaque eligendi eos error eveniet illum impedit iste itaque laudantium mollitia nam nihil nobis obcaecati qui quia quibusdam quidem quo quos totam vero, voluptate voluptatem voluptates! Aliquam cupiditate, fugit nesciunt nobis obcaecati recusandae vel? Ab ad aliquam amet aspernatur assumenda commodi consectetur deserunt ducimus eum ex hic ipsam iste laboriosam neque nesciunt nihil nostrum omnis placeat praesentium provident quas qui, quia repellendus temporibus vero voluptas voluptatum? Iusto, laboriosam ratione!
</span>