.slick-container{
  width: 100%;
  margin: 0 auto 2em auto;
  .pelk_slick{
    margin: 0 auto;
  }
}

.content__text{
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-style: normal;
  font-size: 18px;
  text-align: left;
  display: block;
  padding-left: 10px;
  ul{
    padding-left: 20px;
  }
}
.form__block{
  .form__header{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-style: normal;
    font-size: 24px;
    text-align: left;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    input{
      margin-top: 15px;
    }
  }

}

