<div class="contact-header">
    <div class="contact-header__inner">
        <h4 class="contact-header__text">Контакты</h4>
    </div>
</div>

<section class="map-block" id="contacts">

    <div class="map-block__inner">
        <div class="map-item" data-map='{ "center": [53.451107, 36.00606] , "zoom" : 13, "markers" : [{"coords" : [53.451107, 36.00606],"popup": "<p>Мы здесь!</p>"}] }'>

        </div>
    </div>
</section>