<section class="puppies-block">
    <div class="puppies-block__inner">

        <div class="puppy-header">
            <div class="puppy-header__inner">
                <h4 class="puppy-header__text" id="puppies">
                    Щенки
                </h4>
            </div>
        </div>

        <div class="puppy-items">


            <div class="puppy-item ">
                <div class="puppy-item__inner ">
                    <div class="puppy-photo rotate__inner">
                        <div class="puppy-photo__inner rotate__item">
                            <a class="puppy-link open-modal" data-modal=".puppy-modal" href="javascript:void(0)">
                            <div class="puppy-photo__layout">
                                <ul class="layout__list">
                                    <li>Возраст: 25 лет</li>
                                    <li>Вес: 200 кг</li>
                                    <li>Окрас: Бело-черный</li>
                                    <li>Цена: 15 000 руб</li>
                                </ul>
                            </div>
                            <img src="img/temp/puppy.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="puppy-name">
                        <div class="puppy-name__inner">
                            <p class="puppy-name__text">
                                Намбэ
                            </p>
                        </div>
                    </div>
                </div>
            </div><div class="puppy-item ">
                <div class="puppy-item__inner ">
                    <div class="puppy-photo rotate__inner">
                        <div class="puppy-photo__inner rotate__item">
                            <a class="puppy-link open-modal" data-modal=".puppy-modal" href="javascript:void(0)">
                            <div class="puppy-photo__layout">
                                <ul class="layout__list">
                                    <li>Возраст: 25 лет</li>
                                    <li>Вес: 200 кг</li>
                                    <li>Окрас: Бело-черный</li>
                                    <li>Цена: 15 000 руб</li>
                                </ul>
                            </div>
                            <img src="img/temp/puppy.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="puppy-name">
                        <div class="puppy-name__inner">
                            <p class="puppy-name__text">
                                Намбэ
                            </p>
                        </div>
                    </div>
                </div>
            </div><div class="puppy-item ">
                <div class="puppy-item__inner ">
                    <div class="puppy-photo rotate__inner">
                        <div class="puppy-photo__inner rotate__item">
                            <a class="puppy-link open-modal" data-modal=".puppy-modal" href="javascript:void(0)">
                            <div class="puppy-photo__layout">
                                <ul class="layout__list">
                                    <li>Возраст: 25 лет</li>
                                    <li>Вес: 200 кг</li>
                                    <li>Окрас: Бело-черный</li>
                                    <li>Цена: 15 000 руб</li>
                                </ul>
                            </div>
                            <img src="img/temp/puppy.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="puppy-name">
                        <div class="puppy-name__inner">
                            <p class="puppy-name__text">
                                Намбэ
                            </p>
                        </div>
                    </div>
                </div>
            </div><div class="puppy-item ">
                <div class="puppy-item__inner ">
                    <div class="puppy-photo rotate__inner">
                        <div class="puppy-photo__inner rotate__item">
                            <a class="puppy-link open-modal" data-modal=".puppy-modal" href="javascript:void(0)">
                            <div class="puppy-photo__layout">
                                <ul class="layout__list">
                                    <li>Возраст: 25 лет</li>
                                    <li>Вес: 200 кг</li>
                                    <li>Окрас: Бело-черный</li>
                                    <li>Цена: 15 000 руб</li>
                                </ul>
                            </div>
                            <img src="img/temp/puppy.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="puppy-name">
                        <div class="puppy-name__inner">
                            <p class="puppy-name__text">
                                Намбэ
                            </p>
                        </div>
                    </div>
                </div>
            </div><div class="puppy-item ">
                <div class="puppy-item__inner ">
                    <div class="puppy-photo rotate__inner">
                        <div class="puppy-photo__inner rotate__item">
                            <a class="puppy-link open-modal" data-modal=".puppy-modal" href="javascript:void(0)">
                            <div class="puppy-photo__layout">
                                <ul class="layout__list">
                                    <li>Возраст: 25 лет</li>
                                    <li>Вес: 200 кг</li>
                                    <li>Окрас: Бело-черный</li>
                                    <li>Цена: 15 000 руб</li>
                                </ul>
                            </div>
                            <img src="img/temp/puppy.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="puppy-name">
                        <div class="puppy-name__inner">
                            <p class="puppy-name__text">
                                Намбэ
                            </p>
                        </div>
                    </div>
                </div>
            </div><div class="puppy-item ">
                <div class="puppy-item__inner ">
                    <div class="puppy-photo rotate__inner">
                        <div class="puppy-photo__inner rotate__item">
                            <a class="puppy-link open-modal" data-modal=".puppy-modal" href="javascript:void(0)">
                            <div class="puppy-photo__layout">
                                <ul class="layout__list">
                                    <li>Возраст: 25 лет</li>
                                    <li>Вес: 200 кг</li>
                                    <li>Окрас: Бело-черный</li>
                                    <li>Цена: 15 000 руб</li>
                                </ul>
                            </div>
                            <img src="img/temp/puppy.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="puppy-name">
                        <div class="puppy-name__inner">
                            <p class="puppy-name__text">
                                Намбэ
                            </p>
                        </div>
                    </div>
                </div>
            </div><div class="puppy-item ">
                <div class="puppy-item__inner ">
                    <div class="puppy-photo rotate__inner">
                        <div class="puppy-photo__inner rotate__item">
                            <a class="puppy-link open-modal" data-modal=".puppy-modal" href="javascript:void(0)">
                            <div class="puppy-photo__layout">
                                <ul class="layout__list">
                                    <li>Возраст: 25 лет</li>
                                    <li>Вес: 200 кг</li>
                                    <li>Окрас: Бело-черный</li>
                                    <li>Цена: 15 000 руб</li>
                                </ul>
                            </div>
                            <img src="img/temp/puppy.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="puppy-name">
                        <div class="puppy-name__inner">
                            <p class="puppy-name__text">
                                Намбэ
                            </p>
                        </div>
                    </div>
                </div>
            </div>



        </div>


    </div>
</section>