<section class="puppies-block">
    <div class="puppies-block__inner">

        <div class="puppy-header">
            <div class="puppy-header__inner">
                <h4 class="puppy-header__text">
                    Щенки
                </h4>
            </div>
        </div>

        <div class="puppy-items">

            <div class="puppy-item">
                <div class="puppy-item__inner">
                    <div class="puppy-photo">
                        <div class="puppy-photo__inner">
                            <img src="img/temp/puppy.png" alt="">
                        </div>
                    </div>
                    <div class="puppy-name">
                        <div class="puppy-name__inner">
                            <p class="puppy-name__text">
                                Намбэ
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="puppy-item">
                <div class="puppy-item__inner">
                    <div class="puppy-photo">
                        <div class="puppy-photo__inner">
                            <img src="img/temp/puppy.png" alt="">
                        </div>
                    </div>
                    <div class="puppy-name">
                        <div class="puppy-name__inner">
                            <p class="puppy-name__text">
                                Намбэ
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="puppy-item">
                <div class="puppy-item__inner">
                    <div class="puppy-photo">
                        <div class="puppy-photo__inner">
                            <img src="img/temp/puppy.png" alt="">
                        </div>
                    </div>
                    <div class="puppy-name">
                        <div class="puppy-name__inner">
                            <p class="puppy-name__text">
                                Намбэ
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="puppy-item">
                <div class="puppy-item__inner">
                    <div class="puppy-photo">
                        <div class="puppy-photo__inner">
                            <img src="img/temp/puppy.png" alt="">
                        </div>
                    </div>
                    <div class="puppy-name">
                        <div class="puppy-name__inner">
                            <p class="puppy-name__text">
                                Намбэ
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="puppy-item">
                <div class="puppy-item__inner">
                    <div class="puppy-photo">
                        <div class="puppy-photo__inner">
                            <img src="img/temp/puppy.png" alt="">
                        </div>
                    </div>
                    <div class="puppy-name">
                        <div class="puppy-name__inner">
                            <p class="puppy-name__text">
                                Намбэ
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="puppy-item">
                <div class="puppy-item__inner">
                    <div class="puppy-photo">
                        <div class="puppy-photo__inner">
                            <img src="img/temp/puppy.png" alt="">
                        </div>
                    </div>
                    <div class="puppy-name">
                        <div class="puppy-name__inner">
                            <p class="puppy-name__text">
                                Намбэ
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</section>