.puppies-block{
  margin-top: 2em;
  .puppies-block__inner{
    max-width: 1480px;
    margin: 0 auto;
    .puppy-header{
      .puppy-header__inner{
        .puppy-header__text{
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 36px;
          text-align: center;
          color:#000;
          text-transform: uppercase;
          letter-spacing: 0.06em;
          margin: 0 0 50px 0;
        }
      }
    }

    .puppy-items{
      display: flex;
      flex-direction: row;
      flex-wrap:wrap;
      justify-content: space-around;
      .puppy-item{
        width: 350px;
        flex-basis: 33%;
        padding-left: 1em;
        padding-right: 1em;
        @media screen and (max-width: 770px){
          flex-basis: auto;
          width: 500px;
          padding-left: 1em;
          padding-right: 1em;
        }
        .puppy-item__inner{
          display: flex;
          flex-direction: column;
          align-items: center;
          .puppy-photo{
            width: 350px;

            @media screen and (max-width: 770px){
              max-width: 500px;
              width: 100%;
            }
            .puppy-photo__inner{
              position: relative;
              transform: rotateX(0) rotateY(0);
              transition: rotate 0.5s linear;
              .puppy-link{
                cursor: pointer;
                &:hover{
                  .puppy-photo__layout{
                    opacity: 1;
                  }
                }
              }
              .puppy-photo__layout{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,.5);
                opacity: 0;
                transition: all 0.5s ease;
                display: flex;
                justify-content: center;
                align-items: center;
                .layout__list{
                  list-style-type: none;
                  margin: 0;
                  padding: 0;
                   li{
                     font-family: 'Montserrat', sans-serif;
                     padding-top: 5px;
                     &:first-child{
                       padding-top: 0;
                     }
                     font-size: 17px;
                     color:#fff;
                   }
                }
              }
              img{
                display: block;
                width: 100%;
              }
            }
          }
          .puppy-name{
            .puppy-name__inner{
              text-align: center;
              .puppy-name__text{
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 17px;
                text-align: center;
                color:#000;
                letter-spacing: 0.06em;
                margin: 0 0 50px 0;
              }
            }
          }
        }
      }
    }
  }
}