*{
  box-sizing: border-box;
}
.our-dogs-block{
  margin-top: 4em;
  .our-dogs-block__inner{
    .dogs-header{
      .dogs-header__inner{
        .dogs-header__text{
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 36px;
          text-align: center;
          color:#322760;
          text-transform: uppercase;
          letter-spacing: 0.06em;
          margin: 0 0 50px 0;
        }
      }
    }
    .dog-items{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      .dog-item {
        width: 100%;
        justify-content: center;
        .dog-item__inner {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 2em;
          @media screen and (max-width: 1000px){
            padding-left: 10px;
            padding-right: 10px;
            .dog-item__info {
              padding-left: 0!important;
              .dog-info {
                .dog-info__item{
                  font-size: 16px!important;
                }
              }
            }
            .dog-item__photo{
              max-width: 400px;
              order:1;
              max-height: none;
              .dog-photo{
                height: auto;
                .dog-photo__item{
                  height: auto;
                  width: 100%;
                }
              }
            }
          }
          @media screen and (max-width: 750px){
            flex-direction: column;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
            .dog-item__info {
              padding-left: 0!important;
              order: 2;
              max-width: 500px;
              min-width: auto!important;
              width: 100%!important;

              .dog-info {
                padding: 0;
              }
            }
            .dog-item__photo{
              max-width: 500px!important;
              order:1;
              max-height: none;
              .dog-photo{
                height: auto;
                .dog-photo__item{
                  height: auto;
                  width: 100%;
                }
              }
            }
          }
          @media screen and (max-width: 850px){
            .dog-item__info {
              .dog-info {
                .dog-info__item {
                  margin-top: 10px!important;
                }
              }
            }
            .dog-item__photo{
              max-width: 300px;
            }
          }
        .dog-item__info {
          max-height: 300px;
          min-width: 400px;
          flex-grow: .3;
          .dog-info {
            height: 100%;
            display: flex;
            flex-direction: column;
            list-style-type: none;
            max-width: 400px;

            .dog-info__item {
              margin-top: 1em;
              font-family: 'Montserrat', sans-serif;
              color: #16055A;
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              &:first-child {
                margin-top: 0;
              }
            }
          }
        }
      }
        .dog-item__photo{
          max-height: 300px;
          .dog-photo{
            height: 100%;
            .dog-photo__item{
              height: 100%;
              max-width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

}