<section class="our-dogs-block">
    <div class="our-dogs-block__inner">
        <div class="dogs-header">
            <div class="dogs-header__inner">
                <h4 class="dogs-header__text">
                    Наши хины
                </h4>
            </div>
        </div>
        <div class="dog-items">
            <div class="dog-item">
                <div class="dog-item__inner">
                    <div class="dog-item__info">
                        <ul class="dog-info">
                            <li class="dog-info__item">Кличка: Гирон</li>
                            <li class="dog-info__item">Дата рождения: 12.12.2012</li>
                            <li class="dog-info__item">Статус: Свободен для вязки</li>
                            <li class="dog-info__item">Место рождения: г. Москва</li>
                            <li class="dog-info__item">Кличка отца: Ленин</li>
                            <li class="dog-info__item">Кличка матери: Сталин</li>
                            <li class="dog-info__item">Награды: Лучший джуниор 2015 лол кек чебурек</li>
                        </ul>
                    </div>
                    <div class="dog-item__photo">
                        <div class="dog-photo">
                            <img src="img/temp/dog.png" alt="dog" class="dog-photo__item">
                        </div>
                    </div>
                </div>
            </div>
            <div class="dog-item">
                <div class="dog-item__inner">
                    <div class="dog-item__info">
                        <ul class="dog-info">
                            <li class="dog-info__item">Кличка: Гирон</li>
                            <li class="dog-info__item">Дата рождения: 12.12.2012</li>
                            <li class="dog-info__item">Статус: Свободен для вязки</li>
                            <li class="dog-info__item">Место рождения: г. Москва</li>
                            <li class="dog-info__item">Кличка отца: Ленин</li>
                            <li class="dog-info__item">Кличка матери: Сталин</li>
                            <li class="dog-info__item">Награды: Лучший джуниор 2015 лол кек чебурек</li>
                        </ul>
                    </div>
                    <div class="dog-item__photo">
                        <div class="dog-photo">
                            <img src="img/temp/dog.png" alt="dog" class="dog-photo__item">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>