<footer class="footer-block">
    <div class="footer-block__inner">
        <div class="footer-items">
            <div class="footer-items__inner">
                <div class="footer-item">
                    <h5 class="item-header">Навигация</h5>
                    <ul class="navigation-list">
                        <li class="navigation-list__item">
                            <a href="" class="link">Главная</a>
                        </li>
                        <li class="navigation-list__item">
                            <a href="" class="link">О нас</a>
                        </li>
                        <li class="navigation-list__item">
                            <a href="" class="link">Наши хины</a>
                        </li>
                        <li class="navigation-list__item">
                            <a href="" class="link">Щенки</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-item">
                    <div class="addr-block">
                        <div class="addr-block__icon">
                            <div class="icon">
                                <svg class="svg-icon fill-blue">
                                    <use xlink:href="img/svg/sprite.svg#marker"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="addr-block__text">
                            <p class="text">
                                Орловская обл, г. Болхов, ул. Строительная, д.9, кв 2
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footer-item">
                    <h5 class="item-header">Контакты</h5>
                    <ul class="navigation-list">
                        <li class="navigation-list__item">
                            Email: <a href="" class="link">email@email.ru</a>
                        </li>
                        <li class="navigation-list__item">
                            Телефон: <a href="" class="link">+7(999)999-99-99</a>
                        </li>
                        <li class="navigation-list__item">
                            Соц.сети:
                            <div class="icon-group">
                                <a href="" class="link">
                                    <div class="icon">
                                        <svg class="svg-icon fill-blue">
                                            <use xlink:href="img/svg/sprite.svg#vk"></use>
                                        </svg>
                                    </div>
                                </a>
                                <a href="" class="link">
                                    <div class="icon">
                                        <svg class="svg-icon fill-blue">
                                            <use xlink:href="img/svg/sprite.svg#facebook"></use>
                                        </svg>
                                    </div>
                                </a>
                                <a href="" class="link">
                                    <div class="icon">
                                        <svg class="svg-icon fill-blue">
                                            <use xlink:href="img/svg/sprite.svg#inst"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="./js/bundle.min.js"></script>
</html>