<section class="about-block">
    <div class="about-block__inner">
        <div class="about-header">
            <h4 class="about-header__text">
                О Японском Хине
            </h4>
            {% include '../../../blocks/default/button/default/button.twig' with {name: 'Подробнее'} %}
        </div>
        <div class="about-content__wrapper">
        <div class="about-content">

            <div class="text-block">
                <h5 class="text-block__header">Сакура</h5>
                <span class="text-block__item">
                    <p>
                        <img src="img/temp/hin_about.png" alt="" align="right">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur blanditiis consectetur cumque harum, illo magnam natus nesciunt nobis placeat, quidem recusandae reprehenderit repudiandae similique soluta suscipit veritatis vero voluptate! Adipisci amet aut cum dolores fugit, in inventore ipsa itaque mollitia necessitatibus nemo neque nulla numquam perferendis praesentium qui quidem quo tempore temporibus voluptate. A animi aperiam atque cum delectus dolor dolores eaque earum fuga ipsum labore, laborum laudantium maxime neque perspiciatis quam quia quod reprehenderit rerum soluta sunt tempora vel voluptates! Deleniti dolorum eaque enim maiores natus perspiciatis quasi qui quibusdam reiciendis, rerum, temporibus unde veritatis vitae voluptatem voluptatum! Eum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor error explicabo facere labore natus quaerat quod temporibus vero voluptates! At aut deleniti dignissimos fugit ipsum, numquam repellendus sed sequi? Asperiores excepturi fugiat laboriosam nesciunt rerum totam ullam vero voluptas?
                    </p>
                </span>
            </div>
            <div class="text-block-bottom">
                <span class="text-block__item">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cupiditate eius error ex id ipsum nobis praesentium quod ratione totam! Atque enim illum incidunt ipsa modi perspiciatis quaerat ut? A corporis exercitationem fugit nam nesciunt officiis, placeat possimus quisquam voluptas! Ab aliquid aperiam eveniet exercitationem fuga ipsum itaque minima odit similique totam? At esse fugiat libero molestias natus neque nobis optio perspiciatis placeat quaerat, quas quis rem, repellat, vero voluptatem.
                    </p>
                </span>
            </div>
        </div>
        </div>
    </div>
</section>