.about-block{

  .about-block__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-header {
      .about-header__text {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        color: #322760;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        margin: 0 0 50px 0;
      }
    }
    .about-content__wrapper{
      width: 100%;
      background-color: #AEBFAB;
      margin-top: 5em;

    .about-content {
      padding-top: 3em;
      padding-bottom: 3em;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 auto;
      min-height: 400px;
      display: flex;
      max-width: 1380px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      @media screen and(max-width: 800px) {
        flex-direction: column;
        align-items: flex-start;
      }
      .text-block {
        @media screen and(max-width: 800px) {
          margin-top: 1em;
          justify-content: center !important;
        }
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        .text-block__header {
          @media screen and(max-width: 800px) {
            font-size: 23px;
          }
          margin: 0 0 0 0;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          color: #16055A;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 28px;
        }
        .text-block__item {
          p{
            @media screen and(max-width: 800px) {
              display: flex;
              flex-direction: column;
              font-size: 17px;
            }
            img{
              max-width: 500px;
              padding-left: 20px;
              @media screen and(max-width: 800px) {
                max-width: 500px;
                padding-top: 2em;
                padding-left: 0;
                padding-right: 0;
                float: none;
                display: block;
                width: 100%;
                order: 2;
              }
            }
          }
          @media screen and(max-width: 800px) {
            max-width: 100%;
            font-size: 20px;
          }
          @media screen and(max-width: 1250px) {
            // max-width: 500px;
            font-size: 20px;
          }
          //max-width: 700px;
          font-family: 'Montserrat', sans-serif;
          color: #16055A;
          font-style: normal;
          font-size: 18px;
        }
      }
      .text-block-bottom {
        align-self: center;
        justify-self: center;
        .text-block__item {
          font-family: 'Montserrat', sans-serif;
          color: #16055A;
          font-style: normal;
          font-size: 18px;
          @media screen and(max-width: 800px) {
            font-size: 18px;
          }
        }
      }
      .picture-block {
        @media screen and(max-width: 800px) {
          max-width: 500px;
          padding-left: 10px;
          padding-right: 10px;
          margin-top: 1.5em;

        }
        margin-bottom: 1.5em;
        padding-right: 5px;
        display: flex;
        max-width: 500px;
        align-items: center;
        img {
          width: 100%;
        }
      }
    }
  }
  }
}