<section class="about-block">
    <div class="about-block__inner">
        <div class="about-header">
            <h4 class="about-header__text">
                О Японском Хине
            </h4>
            {% include '../../../blocks/default/button/default/button.twig' with {name: 'Подробнее'} %}
        </div>
        <div class="about-content__wrapper">
        <div class="about-content">

            <div class="text-block">
                <h5 class="text-block__header">Сакура</h5>
                <span class="text-block__item">
                    <p>
                        <img src="img/temp/hin_about.png" alt="" align="right">
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                    </p>
                </span>
            </div>
            <div class="text-block-bottom">
                <span class="text-block__item">
                    <p>На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                        На протяжении 10 лет мы разводим щенков, которые являются востребованными по всей России.
                    </p>
                </span>
            </div>
        </div>
        </div>
    </div>
</section>