<nav class="navbar-block">
    <div class="navbar-block__inner">
        <div class="menu-block">
            <div class="menu-block__inner">
                <div class="hamburger-block">
                    <div class="wrapper-menu">
                        <div class="line-menu half start"></div>
                        <div class="line-menu"></div>
                        <div class="line-menu half end"></div>
                    </div>
                </div>
                <div class="menu-item-block is--dn">
                    <ul class="menu-item">
                        <li class="menu-item__list">
                            <a href="#about" class="menu-item__link">О породе</a>
                        </li>
                        <li class="menu-item__list">
                            <a href="#sakura" class="menu-item__link">О нас</a>
                        </li>
                        <li class="menu-item__list">
                            <a href="#our_dogs" class="menu-item__link">Наши хины</a>
                        </li>
                        <li class="menu-item__list">
                            <a href="#puppies" class="menu-item__link">Наши щенки</a>
                        </li>
                        <li class="menu-item__list">
                            <a href="#contacts" class="menu-item__link">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="phone-block">
            <div class="phone-block__inner">
                <div class="phone-block__text">
                    <div>
                        <object type="image/svg+xml" data="img/svg/hin.svg" width="40" height="40" >
                            Your browser does not support SVG
                        </object>
                    </div>
                    <span class="phone-text">
                        <a href="tel:79999999999">+ 7 (999) 999-99-99</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</nav>