
.navbar-block{
  z-index: 10000;
  &.fixed{
    top:0!important;
    position: fixed;
  }
  &.is--scroll{
    position: fixed;
    top: -500px;
  }
  position: relative;
  transition: all 0.3s ease;
  display: block;
  width: 100%;
  height: auto;
  background-color: #fff;
  .navbar-block__inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .hamburger-block{
      display: none;
      margin-block-start:1em;
      margin-block-end:1em;
      margin-right: 1em;
      @media screen and(max-width: 800px){
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .menu-block{
      display: flex;
      flex-grow: .8;
      justify-content: flex-end;
      @media screen and(max-width: 800px){
        order: 2;
      }
      .menu-block__inner {
        display: flex;
        flex-direction: row;
        .menu-item-block{
          align-self: center;
          transition: all 0.5s ease;
          @media screen and(max-width: 800px) {
            z-index: 10000;
            background-color: #ffffff;
            position: fixed;
            top: 0;
            left: -750px;
            width: 50vw;
            min-width: 100px;
            height: 100%;
            &.is--open{
              left:0;
            }
            &.is--dn{
              display: none;
            }
            .menu-item {
              margin-top: 100px;
              justify-content: center;
              align-items: center;
              display: flex;
              flex-direction: column!important;
              .menu-item__list {
                margin-left: 0 !important;
                .menu-item__link {
                  font-size: 18px !important;
                  margin-bottom: 2.5em;
                }
              }
            }
          }
        .menu-item {
          display: flex;
          flex-direction: row;
          margin-left: 0;
          padding-left: 0;
          justify-content: center;

          .menu-item__list {
            &:first-child {
              margin-left: 0;
            }
            margin-left: 2em;
            list-style-type: none;
            @media screen and (max-width: 1000px) {
              margin-left: 1em;
              .menu-item__link{
                font-size: 17px!important;
              }

            }
            &:hover {
              .menu-item__link {
                background: linear-gradient(330deg, #322760, #BBD3B9);
                background-size: 500px;
                background-position: 200px;
                background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }

            .menu-item__link {
              position: relative;
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 20px;
              line-height: 24px;
              text-decoration: none;
              transition: all .8s ease;
              display: block;
              background: linear-gradient(330deg, #322760, #BBD3B9);
              background-size: 500px;
              background-position: 0px;
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
      }
    }
    .phone-block{
      @media screen and(max-width: 800px){
        z-index: 100000;
        order: 1!important;
        margin-left: 10px;
        margin-top: 10px!important;
        .phone-block__text{
          .phone-text{
            display: none!important;
          }
        }
      }
      flex-grow: 0.6;
      display: flex;
      justify-content: flex-start;
      margin-left: 4em;
      margin-block-start:1em;
      margin-block-end:1em;
      .phone-block__inner{
        .phone-block__text{
          display: flex;
          flex-direction: row;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 24px;

          color:#322760;
          span{
            margin-left: 1em;
            display: flex;
            flex-direction: row;
            align-items: center;
            a{
              text-decoration: none;
              color:#322760;
            }
          }
        }
      }
    }
  }
}




.wrapper-menu {
  width: 25px;
  height: 25px;
  display: flex;
  transform:rotate(90deg);
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #322760;
  border-radius: 5px;
  width: 50%;
  height: 4px;
}

.open .line-menu{
  width: 100%;
}

.line-menu.half {
  width: 70%;
}

.open .line-menu.half{
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-start;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  align-self: flex-end;
  transform: rotate(-90deg) translateX(-3px);
}
