<header class="header-block" style="background-image: url('img/temp/header.png')">
    <div class="header-block__inner">
        <div class="header-text-wrapper">
            <div class="header-text">
                <h1 class="header-text__header">
                    Сакура
                </h1>
                <h3 class="header-text__descr">
                    Питомник японского хина
                </h3>
            </div>
        </div>
    </div>
</header>